.heading {
    text-align: center;
    background-color: #ff0095;
    font-size: 150%;
    font-family: "Courier New";
}

.intro {
    text-align: right;
    background-color: aqua;
    font-size: 60%;
}
